.ChatContactHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ededed;
  padding: 10px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
}

.ChatContactHeader a {
  color: #555;
}

.ContactDetails {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
}

.ContactDetails img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.ContactInfo {
  margin-left: 10px;
}

.Icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
  margin-right: 1rem;
}

.Icons button {
  border: none;
  background: none;
  cursor: pointer;
  color: #aaa;
  font-size: 15px;
  outline: none;
}

.Icons button:hover {
  color: #333;
}

.BackBtn {
  border: none;
  background: none;
  margin-left: -1rem;
  margin-right: 10px;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  outline: none;
}

.BackBtn:hover {
  color: #eee;
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .ChatContactHeader {
    height: 100%;
    background-color: #343a40;
    color: #fff;
    border-bottom: 4px solid #fb9214;
  }
  .ChatContactHeader a {
    color: #fff;
  }
  .ContactDetails {
    margin-bottom: -6px;
  }

  .ContactInfo h3 {
    font-size: 1.2rem;
  }
  .LastSeen {
    font-size: 10px;
  }

  .Icons {
    margin-right: -10px;
  }
  .Icons button {
    color: #fff;
    font-size: 1.2rem;
  }
  .Icons button:hover {
    color: #eee;
  }
}
