.GitHubSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  text-align: center;
  position: sticky;
  top: 250px;
  border-radius: 10px;
  color: #444;
  box-shadow: 1px 1px 3px 1px rgba(93, 92, 237, 0.5),
    -1px -1px 3px 1px rgba(93, 92, 237, 0.5);
}

.GithubBtn {
  padding: 20px;
  background: none;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
  outline: none;
}

.GithubBtn img {
  height: 20px;
  width: 80px;
}

.GithubBtn:hover {
  background-color: #f4f4f4;
}
