.ConnectionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2); */
  transition: all 0.2s ease-in-out;
}

.ConnectionItem img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.ConnectionItem p {
  font-size: 1.3rem;
}
.ConnectionItem a {
  color: #555;
  line-height: 0;
  margin-right: auto;
  padding-left: 2rem;
}

.ConnectionItem a:hover {
  color: #428bca;
}
.ConnectionItem button {
  border: none;
  background: #d9534f;
  padding: 5px;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 5px;
  font-size: 11px;
  font-weight: bold;
}

.ConnectionItem button:hover {
  background-color: #ec9794;
}

.ConnectionItem:hover {
  /* transform: scale(1.02); */
  border-radius: 5px;
  background-color: #ffffba;
}
