.Navbar {
  background-color: #333;
  height: 4.5rem;
  border-bottom: 3px solid #2072ee;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Navbar a {
  color: #fff;
  text-decoration: none;
}

.Logo {
  color: #fff;
  margin-left: 10px;
}

.HamburgerMenu {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .NavItems {
    display: none;
  }
}