.Navbar {
  background-color: #825;
  height: 4.5rem;
  border-bottom: 4px solid #fb9214;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  /* box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.2), -1px -1px 15px 2px rgba(0, 0, 0, 0.2) */
}

.Navbar a {
  color: #fff;
  text-decoration: none;
  /* font-weight: bold; */
  font-size: 1.2rem;
}

.Logo {
  height: 45px;
  width: auto;
  margin-left: 4rem;
  margin-top: 3px;
  box-shadow: 1px 1px 3px 1px rgba(251, 146, 20, 0.5),
    -1px -1px 3px 1px rgba(251, 146, 20, 0.5);
  border-radius: 5px;
  /* padding: 10px 0; */
}

.HamburgerMenu {
  display: flex;
  flex-direction: column;
}

@media (max-width: 500px) {
  .NavItems {
    display: none;
  }
  .Logo {
    margin-left: 1rem;
  }
}
