.UserInfoHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  background-color: #ededed;
  height: 60px;
  border-bottom: 1px solid #ccc;
  /* border-top-left-radius: 10px; */
}

.UserInfoHeader img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.UserInfoHeader h3 {
  margin-left: 10px;
  color: #555;
}

.UserInfoHeader a {
  color: #555;
}

.Icon {
  margin-left: auto;
  padding-right: 10px;
}

.Icon button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #aaa;
}

@media screen and (max-width: 500px) {
  .UserInfoHeader {
    height: 75px;
    background-color: #825;
    color: #fff;
    border-bottom: 4px solid #fb9214;
  }

  .UserInfoHeader a {
    color: #fff;
  }

  .UserInfoHeader h3 {
    color: #fff;
  }

  .Icon button {
    color: #fff;
  }

  .UserInfoHeader img {
    margin-left: 8px;
  }
}
