.UserDetails {
  padding: 20px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Heading {
  background-color: #f4f4f4;
  color: #333;
}

.Box h4 {
  padding: 0;
  margin: 0;
}

.BoxContent {
  padding: 25px 0;
}

@media screen and (max-width: 750px) {
  .UserDetails {
    margin-left: 0;
    padding: 0;
  }
}
