.Post {
  padding: 0.75rem;
  margin: 25px auto;
  text-align: center;
  box-sizing: border-box;
  width: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1),
    -1px -1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.Author {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1),
    -1px -1px 5px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px;
  color: #4b545a;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.Author img {
  height: 50px;
  border-radius: 50%;
  padding: 0 10px;
}

.AuthorDetails {
  text-align: start;
}

.AuthorDetails h3,
.AuthorDetails p {
  margin: 0;
  padding: 0;
}

.AuthorDetails p {
  font-size: 13px;
  color: #86949e;
}

.AuthorDetails p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #75818a;
}

.PostDate {
  margin-left: auto;
  color: #aaa;
  font-size: 14px;
}
.PostText {
  padding: 10px;
  color: #555;
  white-space: pre-wrap;
  /* white-space: pre-line;  */
  font-weight: bold;
  font-size: 20px;
  text-align: start;
  overflow-wrap: break-word;
}

.PostTools a {
  color: #7986cb;
  margin: 0;
  padding: 0;
}

.PostTools {
  width: 90%;
  margin: auto;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1),
    -1px -1px 5px 1px rgba(0, 0, 0, 0.1);
}

.PostBtn {
  /* display: flex;
  align-items: center;
  background-color: #bfc0c0;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  color: #3b5998; */

  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  color: #d2d2d2;
}
.PostBtn small {
  color: #ccc;
  font-weight: bold;
  font-size: 12px;
  padding: 0 5px;
}

.PostBtn:hover {
  color: #c5d2ec;
}

@media screen and (max-width: 500px) {
  .Post {
    width: 95%;
  }

  .AuthorDetails h3 {
    font-size: 15px;
  }

  .AuthorDetails p {
    font-size: 12px;
  }

  .PostDate {
    font-size: 11px;
  }
}
