.LoginForm {
  max-width: 50%;
  max-height: 50%;
  margin: auto;
  border: 1px solid #ccc;
  text-align: center;
  padding: 15px;
}

.LoginBtn {
  display: inline-block;
  border: none;
  background-color: #7cdc39;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
