.CommentSection {
  padding: 10px 0;
  /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1),
    -1px -1px 5px 1px rgba(0, 0, 0, 0.1); */
}

.AddComment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  /* background-color: #f7f7f7; */
  border-top: 1px solid #ccc;
  /* border-radius: 5px; */
}

.AddComment img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.AddComment textarea {
  width: 60%;
  outline: none;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.CommentBtn {
  border: none;
  background-color: #5cb85c;
  color: #fff;
  padding: 10px 12px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.CommentBtn:hover {
  background-color: #52a552;
}
