.SkillForm {
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
}

.BtnArea {
  display: flex;
  align-items: center;
}

.SaveBtn {
  border: none;
  background-color: #5cb85c;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
  outline: none;
}

.SaveBtn:disabled {
  opacity: 0.65;
  cursor: default;
  background-color: #77d177;
}

.CancelBtn {
  border: none;
  background: none;
  padding: 8px 15px;
  color: #d9534f;
  cursor: pointer;
  outline: none;
  margin-top: 8px;
}

.SaveBtn:hover {
  background-color: #77d177;
}

.CancelBtn:hover {
  color: #ff6a65;
}
