.HomeAuth {
  background: url("../../assets/img/showcase.jpg") no-repeat center top/cover;
  height: 89.2vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeContent h1 {
  color: #fff;
  font-size: 40px;
}

.HomeContent a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px 10px;
  /* background-color: #008080; */
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
}

.HomeContent a:hover {
  background-color: #008080;
  color: #fff;
  /* border: none; */
  border: 1px solid #008080;
}

.HomeContent {
  z-index: 1;
}

.BtnArea {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.HomeDarkOverlay {
  height: 90.4vh;
  width: 100vw;
  position: absolute;
  top: 63px;
  left: 0;
  background-color: #17072b;
  opacity: 0.7;
}
.Chat {
  /* position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 10px; */
}
@media screen and (max-width: 500px) {
  .HomeAuth h1 {
    font-size: 20px;
  }
}
