.HomeAuth {
  background: url("../../assets/img/showcase.jpg") no-repeat center top/cover;
  height: 90.5vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.HomeContent h1 {
  color: #fff;
  font-size: 40px;
}

.HomeContent a {
  text-decoration: none;
  padding: 10px 15px;
  margin: 20px 10px;
  /* background-color: #008080; */
  border: 1px solid #ccc;
  color: #ccc;
  border-radius: 5px;
}

.HomeContent a:hover {
  background-color: #343a40;
  color: #fff;
  /* border: none; */
  border: 1px solid #343a40;
}

.HomeContent {
  z-index: 1;
}

.BtnArea {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.HomeDarkOverlay {
  height: 90.5vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .HomeAuth {
    height: 87.6vh;
  }

  .HomeDarkOverlay {
    height: 87.6vh;
  }

  .HomeAuth h1 {
    font-size: 20px;
  }
}
