.ProfileContent {
  display: grid;
  grid-template-columns: 1.5fr 33fr 2fr;
  padding: 20px 0;
  gap: 10px;
}

.SideBar {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Connections {
  padding: 10px;
  margin: 10px 0;
}

.Connections ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Connections ul li {
  border-bottom: 1px dotted #ccc;
  padding: 15px 0;
}

.Connections a {
  color: #333;
  text-decoration: none;
}

.MainContent {
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 750px) {
  .ProfileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
  }

  .SideBar {
    margin-bottom: 10px;
  }

  .Connections {
    margin: 10px 0;
    /* border-bottom: 1px solid #ccc; */
    background-color: #f7f7f7;
  }

  .Connections ul {
    display: flex;
    justify-content: space-evenly;
  }

  .Connections ul li {
    border-bottom: none;
    padding: 5px 0;
  }
  .MainContent {
    margin-top: 1.5rem;
    width: 90%;
    margin: auto;
  }

  .Social {
    margin-top: 1.3rem;
    margin-right: 0;
  }

  .GithubRepository {
    margin-top: 10px;
  }

  .ProfileLink {
    margin-top: -1rem;
  }
}
