.Header.Header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 15px;
}

.ProfilePic {
  padding: 5px;
  margin: 10px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
}

.ProfilePic img {
  max-width: 150px;
  max-height: 150px;
}

.UserDetails {
  flex-grow: 1;
}

.UserDetails h3 {
  padding: 15px 0;
}

.CompanyLocation {
  display: flex;
  justify-content: flex-start;
}

.Company,
.Location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 10px;
}

.Company p,
.Location p {
  padding: 0 5px;
}

.Skills,
.Education {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.Skills a,
.Education a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #5b6bff;
  font-size: 13px;
}

.Skills a:hover,
.Education a:hover {
  text-decoration: underline;
}

.Skills label,
.Education label {
  width: 150px;
}
/* .Skills p,
  .Education p {
    flex-grow: 2;
  } */

.EditBtn {
  margin-top: 10px;
}

.EditBtn button {
  display: inline-block;
  border: none;
  background-color: #428bca;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.EditBtn button:hover {
  background-color: #f5c431;
}

@media screen and (max-width: 750px) {
  .Header {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    color: #555;
  }

  .ProfilePic {
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    border-radius: 10px;
    padding: 10px;
  }

  .UserDetails {
    text-align: center;
  }

  .UserDetails h3 {
    font-size: 2rem;
  }

  .ProfilePic img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 5px;
  }

  .CompanyLocation {
    flex-direction: column;
  }

  .Company,
  .Location {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
  }

  .Company p,
  .Location p {
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
  }

  .Skills,
  .Education {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin: 10px 0;
    text-align: start;
  }

  .Skills label,
  .Education label {
    width: 6rem;
  }
}
