.MainContent {
  display: flex;
}

.Main {
  width: 50%;
}

.GithubEdit {
  margin: 20px auto;
}

@media screen and (max-width: 750px) {
  .MainContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 750px) {
  .Main {
    width: 95%;
  }
}
