.InputWithIcon {
  display: flex;
  max-width: auto;
  align-items: center;
  background-color: #f4f4f4;
  color: #777;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 10px auto;
  padding: 0px 30px;
  overflow: hidden;
}

.InputWithIcon input {
  border: none;
  color: #333;
  outline: none;
  padding: 10px 10px;
  width: 100%;
  margin-left: 2px;
  background: none;
}

.InputWithIcon input::placeholder {
  color: #ccc;
  font-size: 12px;
}

.InputWithIcon.Invalid {
  border: 1px solid #d9534f;
}
