.Dashboard {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.DashboardForm {
  width: 100%;
  margin: 0 10px;
  margin-top: 15px;
  width: 50%;
}

.DashbordFormElements {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.SaveBtn {
  display: block;
  border: none;
  background-color: #5cb85c;
  padding: 10px 50px;
  color: #fff;
  cursor: pointer;
  margin: 20px auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.SaveBtn:hover {
  background-color: #5cb85cc5;
}
.PhotoEdit {
  margin: 0 30px;
}
.PhotoEdit .PhotoPickerBtn {
  display: block;
  color: #428bca;
  font-weight: bold;
  border: none;
  background: none;
  margin: auto;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
}
.ProfilePhoto {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
}

.ProfilePhoto img {
  height: 150px;
  width: 150px;
  pointer-events: none;
}

.SelectImageButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.SelectImageButtons button {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 5px 0px;
  cursor: pointer;
  outline: none;
}

.SavePicBtn {
  color: #5cb85c;
}
.DiscardPicBtn {
  color: #d9534f;
}

.AlertBox {
  position: sticky;
  top: 4rem;
  left: 2rem;
  margin-top: 10px;
}

@media screen and (max-width: 750px) {
  .Dashboard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .PhotoEdit {
    margin-top: 10px;
  }

  .ProfilePhoto img {
    max-height: 200px;
    max-width: 200px;
  }

  .DashboardForm {
    width: 100%;
  }
}
