.ChatCotainerWrapper {
  position: relative;
  height: 100%;
  width: 50vw;
  /* overflow-y: scroll; */
}

.CloseBtn {
  position: absolute;
  top: 25px;
  left: 53.3vw;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  outline: none;
}

.CloseBtn:hover {
  color: #333;
}

.ChatCotainerWrapper img {
  height: 80vh;
  width: 55vw;
}

@media screen and (max-width: 500px) {
  .ChatCotainerWrapper {
    width: 100%;
  }
}
