.ChatSideBar {
  border-right: 1px solid #ccc;
  height: 100%;
  background-color: #555;
  overflow-y: scroll;
}

.ChatSideBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.CloseBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
