.MessageBox {
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2); */
}

.Message {
    color: #f15e37;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic
}