.NavigationItems {
  display: flex;
  align-items: center;
}

.NavigationItems a {
  margin-right: 10px;
}

.SearchBar {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
}

.SearchBar input {
  background: none;
  outline: none;
  border: none;
}

.SearchBar button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 5px;
}

.SearchBar button:hover {
  color: #0057e7;
}

@media (max-width: 750px) {
  .SearchBar {
    margin-left: 10px;
    padding: 10px 2px;
  }

  .SearchBar button {
    padding: 0 2px;
  }
}

@media (max-width: 500px) {
  .NavigationItems {
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
  }

  .NavigationItems a {
    margin-right: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 1.2rem;
  }
}
