.ChatCloseBtn button {
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #343a40;
  border-radius: 10px;
  outline: none;
  box-shadow: 2px 2px 5px rgba(93, 92, 237, 0.5),
    -2px -2px 5px rgba(93, 92, 237, 0.5);
  transition: all 0.2s ease-in-out;
}
.ChatCloseBtn button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .ChatCloseBtn button {
    padding: 0.6rem 1rem;
    font-size: 2rem;
  }
}
